body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(90deg, rgba(75,59,110,1) 0%, rgba(72,83,149,1) 25%, rgba(49,88,176,1) 50%, rgba(57,135,210,1) 75%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.form-container label,
.form-container select {
  color: #FFFFFF;
  font-size: 1.2em;
  margin: 2px;
}

select {
  border: none;
  background-color: hsla(0, 0%, 100%, 0.2);;
/*  background-color: #232428;*/
}

.textarea-container {
  position: relative;
  margin: 0.4em 0.4em 0.4em;
  height: 100%;
/*  overflow: auto; */
}

.textarea-container textarea {
  width: 100%;
  height: 100vh; /* изменено на 100vh */
/*  box-sizing: border-box;*/
  background-color: #272a33;
  color: #C6C6C6;
  border: none;
  resize: none;
  padding: 1.2em;
  padding-top: 1.2em;
  font-size: 1.2em;
/*  box-shadow: 0.1em 0.1em 0.2em #BEBEBE;*/
/*  transition: all ease 0.1s;*/
/*  margin-bottom: 0.5em;*/
/*  margin-bottom: 0.4em; */
/*  box-shadow: 3px 3px 9px #000;*/
}

textarea:focus,
label:focus,
select:focus {
  outline: none;
  box-shadow: 0.1em 0.1em 0.6em #BEBEBE;
  background-color: #272a33;
}

.textarea-container button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2em;
  color: white;
  background-color: hsla(0, 0%, 100%, 0.2);;
  border: none;
}

.textarea-container button:hover {
  background-color: hsla(0, 0%, 100%, 0.4);;
}

.textarea-container button:active {
  background-color: hsla(0, 0%, 100%, 0.5);;
}

h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #EAEAEA;
  margin-bottom: 10px;
}



@media (orientation: portrait) {
  .textarea-container {
    width: 90%;
    height: 45vh; 
  }
  .textarea-container textarea {
    height: 45vh; 
  }
}

@media (orientation: landscape) {
  .textarea-container {
    width: 45%;
    height: 90%;
  }
  .textarea-container textarea {
    height: 85vh; 
  }
}


::-webkit-scrollbar {
  width: 0.0rem;
  background-color: #f1f1f1;
}