
html, body {
  margin: 0;
  padding: 0;
  user-select: none;
}

#button-container {
  position: fixed;
  bottom:0;
  left: 0;
  z-index: 2;
}

button {
  background-color: rgb(25, 70, 81);
  color: rgb(255, 255, 255);
  font-size: 14px;
  border: none;
/*  padding: 5px 10px;*/
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: rgb(30, 85, 97);
}

button:active {
  background-color: rgb(20, 60, 71);
}

#oscillator-container canvas {
  opacity: 1;
}
     


/* Скрываем полосу прокрутки для всех браузеров 
::-webkit-scrollbar {
  width: 0px;
}

/* Скрываем полосу прокрутки для IE, Edge и Firefox 
{
  scrollbar-width: none; 
  -ms-overflow-style: none;
}*/